
html, body {
  font-family: 'Montserrat', sans-serif !important;
}

//additional color helpers

@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}


.has-background-blue-black {
  background-color: #0F1A25 !important;
}

.has-text-blue-black {
  color: #0F1A25 !important;
}


.big-circle {
  width: 110vh;
  height: 110vh;
  border-radius: 50%;
  background-color: rgb(235, 234, 234);
  opacity: 0.5;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -55vh;
  margin-left: -55vh;
  animation: loadPage 1.3s ease-in-out;
}

@keyframes loadPage {
  from {
    border-radius: 50%;
    width: 120vh;
    height: 120vh;
    background-color: rgb(235, 234, 234);
    opacity: 0.6;
    left: 50%;
    top: 50%;
    margin-top: -60vh;
    margin-left: -60vh;
  }
  to {
    border-radius: 50%;
    opacity: 0.5;
    width: 110vh;
    background-color: rgba(235, 234, 234, 0.64);
    left: 50%;
    top: 50%;
    margin-top: -55vh;
    margin-left: -55vh;
  }
}

.name-decor-wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  .wrap-name {

  }

  span {
    &.p--1 {
      font-size: 19em;
    }

    &.p--2 {
      font-size: 22em;
    }

    letter-spacing: -0.02em;
    display: block;
    font-weight: 700;
    line-height: 1em;
    color: rgba(220, 220, 220, 0.56);
  }

}

.my-navbar {

  .container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .nav-brand {
    font-size: 1.2em;
    line-height: 1em;
    width: 200px;
    color: #000;
  }

  $rand_color: rgb(random(255), random(255), random(255));

  .hamburger {
    margin-left: auto;
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;


    .menu-icon {
      display: grid;
      place-items: center;
      height: 25px;
      width: 30px;
      cursor: pointer;


      & > span {
        width: 30px;
        height: 4px;
        background: #fff;
        display: block;
        transition: all 0.3s ease-in-out;
        border-radius: 10px;
      }

      .line-1 {
        width: 25px;
        justify-self: end;

      }

      .line-2 {
        width: 20px;
        justify-self: end;
      }

      &:hover {
        .line-1 {
          width: 20px;
        }

        .line-2 {
          width: 25px;
        }
      }


      &.active {
        .line-1 {
          transform-origin: center center;
          transform: rotate(-45deg) translate(-6px, 6px);
          width: 30px;
        }

        .line-2 {
          transform: translateX(10px);
          opacity: 0;
        }

        .line-3 {
          transform-origin: center center;
          transform: rotate(45deg) translate(-5px, -6px);
          width: 30px;
        }


      }


    }


  }

}


.sidebar-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-menu {
  padding: 2em 1em;
  text-align: center;
  width: 100%;

  a {
    font-size: 1.8em;
    text-transform: uppercase;
    letter-spacing: 0.2em;

  }
}


.my-hero.is-fullheight-with-navbar {
  height: 100vh !important;
  position: relative;
  overflow-y: hidden !important;
}


.my-hero.is-fullheight-with-navbar .hero-body {
  padding: 0;
  align-items: flex-end !important;
  display: flex;
  justify-content: center;

}


.item-wraps {
  padding: 0 !important;
  margin: 0 !important;
  height: 100% !important;
  display: flex;
  justify-content: flex-end;
  align-content: unset;
  align-items: unset;
  overflow-x:hidden !important;
  @include for-phone-only{
    align-content: center;
    align-items: center;
  }


  .scroll-down-button {
    width: 50px;
    height: 50px;
    border-radius: 20px;
    background-color: red;
    bottom: 15px;
    position: absolute;
    left: 50%;
    z-index: 3;
    margin-left: -25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;


    .down-icon {
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;


      .line-1 {
        width: 20px;
        height: 25px;
        border-radius: 15px;
        border-left: 2px solid #fff;
        border-right: 2px solid #fff;
        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff;
        animation-delay: 10s;
        animation: changeShape 1.5s ease-in-out ;
      }


      @keyframes changeShape {

        0% {
          border-left: 5px solid #fff;
          border-right: 5px solid #fff;
          border-top: 5px solid #fff;
          border-bottom: 5px solid #fff;
          height: 15px;
          border-radius: 20px;
          transform-origin: center center;
        }
        100%{
          height: 25px;
          border-left: 2px solid #fff;
          border-right: 2px solid #fff;
          border-top: 2px solid #fff;
          border-bottom: 2px solid #fff;
        }


      }

    }


  }
}

.my-image-wrap{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-content: flex-end;
  border-radius: 0;
  @include for-phone-only {

   align-content: center;
    width: 320px;
    height: 320px;
    border-radius: 30em;

    background: #fff;
  }

  .my-image {
    object-fit: unset;
    @include for-phone-only {
      width: 320px;
      height: 320px;
      border-radius: 30em;
      object-fit: cover;

    }

  }
}



.my-bio {
  padding: 6em 0;
height: auto;
  @include for-phone-only{
    height: 60em;
  }
}

.my-section{
  min-height: 400px;
}

.my-caption {
  font-size: 2em;
  color: #fff;
  line-height: 1.2em;
  font-weight: 700;
}

.tag {
  &.is-outlined {
    border: 0.1em solid #ffffff;
    background-color: transparent !important;
    color: #fff !important;
  }
}

.no-margin-padding{
  margin: 0 auto;
  padding-top: 0;
  padding-bottom:0 ;
}

.h-100-mobile{
  height: auto;
  @include for-phone-only{
    height: 100% !important;
  }

}

.social-wrap{
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin-left: auto;
  margin-right: unset;
  @include for-phone-only{
    margin-right: auto;
  }
  .social-icon{
    display: inline-block;

  }
}